body {
  background-image: url(images/red_roses.jpg);
  background-size: cover;
  color: #7D7D7D;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 15px;
  line-height: 24px;
}

#favorite-movies > h2 {
  margin-bottom: 30px;
}

#sidebar {
  position: fixed;
  width: 200px;
  left: 20px;
  top: 25px;
  bottom: 25px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0;
}

#sidebar ul li {
  margin: 10px 0;
}

#sidebar a {
  font-size: 18px;
}

.page-container {
  margin: 20px 20px 0px 230px;
}

#wrapper {
  display: flex;
}

#left, #right {
  float: left;
  margin: 5px 20px;
}

#left {
  width: 30%;
}

#right {
  width: 63%;
}

.clear {
  clear: both;
}

.section {
  background-color: white;
  box-shadow: 1px 1px 2px #CCCCCC;
  border-radius: 5px;
  padding: 20px;
}

#summary {
  text-align: center;
  margin-bottom: 30px;
}

img {
  height: 150px;
  width: 100px;
  box-shadow: 0 3px 2px #CCCCCC;
}

.img-rounded {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px
}

h1, h2, h3 {
  font-family: "Montserrat";
}

h1 {
  font-size: 22px;
  color: #DD5555;
  font-weight: bold;
  margin: 20px auto;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  font-size: 16px;
}

p {
  margin: 0 0;
}

a {
  color: #BBBBBB;
  text-decoration: none;
}

a:hover {
  color: #DD5555;
}

.btn-red {
  border-radius: 5px;
  background-color: #DD5555;
  padding: 10px;
}

.btn-red:hover {
  background-color: #C61414;
  color: white;
}

.list, .list-inline {
  list-style: none;
  padding: 0;
  margin: 5px auto;
}

.list li, .list-item-inline {
  text-align: center;
  margin: 0 10px;
}

.list-item-inline {
  display: inline-block;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: white;
  padding: 5px 20px;

}

.inner-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-image {
  flex: 0 0 25%;
}

.card-description {
  flex: 1 0 auto;
}

.fa {
  font-size: 40px;
}

.description {
  width: 450px;
  text-align: left;
  vertical-align: top;
}

.description p {
  margin-top: -5px;
  line-height: 18px;
}

.centered {
  text-align: center;
}

.spaced {
  margin: 0 10px;
}

#footer {
  margin: 25px 20px;
  /*position: relative;*/
}

#footer ul {
  bottom: 20px;
  text-align: right;
}

#footer .fa {
  font-size: 32px;
}

